<div class="monForm">
    <section class="subForm saisieForm">
        <h2>Nouveau CD</h2>
        <form [formGroup]="formulaire">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" id="title" formControlName="title"/>
            </div>
            <div class="form-group">
                <label for="author">Auteur</label>
                <input type="text" class="form-control" id="author" formControlName="author"/>
            </div>
            <div class="form-group">
                <label for="thumbnail">Image</label>
                <input type="text" class="form-control" id="thumbnail" formControlName="thumbnail"/>
            </div>
            <div class="form-group">
                <label for="dateDeSortie">Date de sortie</label>
                <input type="text" class="form-control" id="dateDeSortie" formControlName="dateDeSortie"/>
            </div>
            <div class="form-group">
                <label for="quantite">Quantité</label>
                <input type="text" class="form-control" id="quantite" formControlName="quantite"/>
            </div>
            <div class="form-group">
                <label for="price">Prix</label>
                <input type="text" class="form-control" id="price" formControlName="price"/>
            </div>
            <input type="submit" (click)="addCD()" class="button" [disabled]="formulaire.invalid">
        </form>
    </section>
    <section class="subForm visuForm">
        <h2>Vue du CD</h2>
        <div *ngIf="currentCD !== undefined">
            <h3>{{currentCD.title}}</h3>
            <p>Sorti le : {{ currentCD.dateDeSortie | date: 'dd/MM/yyyy' }}</p>
            <p>Auteur / groupe : {{ currentCD.author }}</p>
            <p>Prix : {{ currentCD.price | currency: "EUR" }}</p>
            <p>Quantité : {{ currentCD.quantite}}</p>
            <img [src]="currentCD.thumbnail" [alt]="currentCD.title">
        </div>
    </section>
</div>