<div class="cd-card" [ngClass]="{'cdadded' : theCD.onsale === true}">
    <h3>{{ theCD.title | uppercase}}</h3>
    <p>Sorti le : {{ theCD.dateDeSortie | date: 'dd/MM/yyyy' }}</p>
    <p>Auteur / groupe : {{ theCD.author }}</p>
    <p>Prix : {{ theCD.price | currency: "EUR" }}</p>
    <p>
        En stock : <span [ngStyle]="{color: 'rgb(0'+theCD.quantite+',0)'}">{{theCD.quantite}}</span> |
        <button mat-fab extended (click)="onAddCD()" class="button">Ajouter une unité</button>
    </p>
    <p *ngIf="idcd === undefined">
        <button mat-fab extended routerLink="/cd/{{theCD.id}}">Voir le detail</button>
    </p>
    <img [src]="theCD.thumbnail" [alt]="theCD.title">
</div>